.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
}
button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  outline: none;
  transition: 0.3s;
  margin: 0 5px;
}
button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.incomplete {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #666;
}
.list li {
  display: flex;
  align-items: center;
}
.list p {
  margin-right: 8px;
}
